```
title: "Assignment 9: Data Wrangling, in Python"
author: "Caroline Reents"
```

## OVERVIEW

This exercise accompanies the lessons in Environmental Data Analytics (ENV872L) on data wrangling in Python.<br>(_This assignment mimics Assignment 4: Data Wrangling)_

Helpful materials: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf and https://duke-nsoe.github.io/ENV872/Python-R.html

## Directions
1. Change "Student Name" on line 2 (above) with your name.


2. Use the lesson as a guide. It contains code that can be modified to complete the assignment.


3. Work through the steps, **creating code and output** that fulfill each instruction.


4. Be sure to **answer the questions** in this assignment document.<br>Create a new cell in the Jupyter notebook and set its type to `Markdown`. Type your answer there. 


5. When you have completed the assignment, save your file as an HTML document via the `File`>`Download as` menu.


6. After convertng to HTML, please submit the completed exercise to the dropbox in Sakai. Please add your last name into the file name (e.g., "Fay_A07_DataWranglingInPython.html") prior to submission.

The completed exercise is due on **Tuesday March 5** before class begins.

---

## Set up your session 
1a. Import pandas

In [1]:
import pandas as pd

1b. Read in the following CSV files into dataframes named as follows:
 * `EPAair_PM25_NC2017_raw.csv` →  `pm_2017`
 * `EPAair_PM25_NC2018_raw.csv` → `pm_2018`
 * `EPAair_O3_NC2017_raw.csv`   → `o3_2017`
 * `EPAair_O3_NC2018_raw.csv`   → `o3_2017`

In [2]:
pm_2017 = pd.read_csv ("../Data/Raw/EPAair_PM25_NC2017_raw.csv")
pm_2018 = pd.read_csv ("../Data/Raw/EPAair_PM25_NC2018_raw.csv")
o3_2017 = pd.read_csv ("../Data/Raw/EPAair_O3_NC2017_raw.csv")
o3_2018 = pd.read_csv ("../Data/Raw/EPAair_O3_NC2018_raw.csv")

3. Generate a few lines of code to get to know your `pm_2017` dataset (basic data summaries, etc.).

In [3]:
#Show the structure of the dataframe

pm_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9494 entries, 0 to 9493
Data columns (total 20 columns):
Date                              9494 non-null object
Source                            9494 non-null object
Site ID                           9494 non-null int64
POC                               9494 non-null int64
Daily Mean PM2.5 Concentration    9494 non-null float64
UNITS                             9494 non-null object
DAILY_AQI_VALUE                   9494 non-null int64
Site Name                         9380 non-null object
DAILY_OBS_COUNT                   9494 non-null int64
PERCENT_COMPLETE                  9494 non-null int64
AQS_PARAMETER_CODE                9494 non-null int64
AQS_PARAMETER_DESC                9494 non-null object
CBSA_CODE                         8141 non-null float64
CBSA_NAME                         8141 non-null object
STATE_CODE                        9494 non-null int64
STATE                             9494 non-null object
COUNTY_CODE                       9494 non-null int64
COUNTY                            9494 non-null object
SITE_LATITUDE                     9494 non-null float64
SITE_LONGITUDE                    9494 non-null float64
dtypes: float64(4), int64(8), object(8)
memory usage: 1.4+ MB

In [4]:
#Show a summary of the data in the dataframe
pm_2017.describe(include='all')

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
count,9494,9494,9.494000e+03,9494.000000,9494.000000,9494,9494.000000,9380,9494.0,9494.0,9494.000000,9494,8141.000000,8141,9494.0,9494,9494.000000,9494,9494.000000,9494.000000
unique,365,1,NaN,NaN,NaN,1,NaN,24,NaN,NaN,NaN,2,NaN,13,NaN,1,NaN,21,NaN,NaN
top,1/31/17,AQS,NaN,NaN,NaN,ug/m3 LC,NaN,Board Of Ed. Bldg.,NaN,NaN,NaN,PM2.5 - Local Conditions,NaN,"Charlotte-Concord-Gastonia, NC-SC",NaN,North Carolina,NaN,Mecklenburg,NaN,NaN
freq,45,9494,NaN,NaN,NaN,9494,NaN,542,NaN,NaN,NaN,6652,NaN,1411,NaN,9494,NaN,1411,NaN,NaN
mean,NaN,NaN,3.709801e+08,2.733621,7.741510,NaN,31.722667,NaN,1.0,100.0,88221.038129,NaN,30792.973836,NaN,37.0,NaN,97.998736,NaN,35.597897,-80.026815
std,NaN,NaN,4.565902e+05,0.977861,3.794564,NaN,14.428795,NaN,0.0,0.0,183.656446,NaN,13214.905599,NaN,0.0,NaN,45.659914,NaN,0.406241,1.691671
min,NaN,NaN,3.701100e+08,1.000000,-3.900000,NaN,0.000000,NaN,1.0,100.0,88101.000000,NaN,11700.000000,NaN,37.0,NaN,11.000000,NaN,34.364167,-83.442133
25%,NaN,NaN,3.706300e+08,3.000000,5.000000,NaN,21.000000,NaN,1.0,100.0,88101.000000,NaN,16740.000000,NaN,37.0,NaN,63.000000,NaN,35.263200,-80.874084
50%,NaN,NaN,3.710100e+08,3.000000,7.300000,NaN,30.000000,NaN,1.0,100.0,88101.000000,NaN,25860.000000,NaN,37.0,NaN,101.000000,NaN,35.641276,-80.226438
75%,NaN,NaN,3.712100e+08,3.000000,10.000000,NaN,42.000000,NaN,1.0,100.0,88502.000000,NaN,41820.000000,NaN,37.0,NaN,121.000000,NaN,35.912487,-78.819700
max,NaN,NaN,3.718300e+08,4.000000,31.900000,NaN,93.000000,NaN,1.0,100.0,88502.000000,NaN,49180.000000,NaN,37.0,NaN,183.000000,NaN,36.110693,-76.207165

In [5]:
#Show the "head" or the first 5 rows of data
pm_2017.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,1/1/17,AQS,370110002,1,2.9,ug/m3 LC,12,Linville Falls,1,100,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,37,North Carolina,11,Avery,35.972347,-81.933072
1,1/4/17,AQS,370110002,1,1.2,ug/m3 LC,5,Linville Falls,1,100,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,37,North Carolina,11,Avery,35.972347,-81.933072
2,1/7/17,AQS,370110002,1,3.2,ug/m3 LC,13,Linville Falls,1,100,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,37,North Carolina,11,Avery,35.972347,-81.933072
3,1/10/17,AQS,370110002,1,6.4,ug/m3 LC,27,Linville Falls,1,100,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,37,North Carolina,11,Avery,35.972347,-81.933072
4,1/13/17,AQS,370110002,1,3.6,ug/m3 LC,15,Linville Falls,1,100,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,37,North Carolina,11,Avery,35.972347,-81.933072

In [6]:
#Show what data type the "Date" field is
pm_2017['Date'].dtype

dtype('O')

## Wrangle individual datasets to create processed files.
3. Change `Date` field's data type to date

In [7]:
#Convert the date field to a datetime object
pm_2017['Date'] = pd.to_datetime(pm_2017['Date'],format = "%m/%d/%y")

pm_2018['Date'] = pd.to_datetime(pm_2018['Date'],format = "%m/%d/%y")

o3_2017['Date'] = pd.to_datetime(o3_2017['Date'],format = "%m/%d/%y")

o3_2018['Date'] = pd.to_datetime(o3_2018['Date'],format = "%m/%d/%y")

4. Select the following columns: `Date`, `DAILY_AQI_VALUE`, `Site.Name`, `AQS_PARAMETER_DESC`, `COUNTY`, `SITE_LATITUDE`, `SITE_LONGITUDE`

In [8]:
#Select the subset of fields
pm_2017_skinny = pm_2017[['Date', 'DAILY_AQI_VALUE','Site Name', 'AQS_PARAMETER_DESC','COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE' ]]
pm_2018_skinny = pm_2018[['Date', 'DAILY_AQI_VALUE','Site Name', 'AQS_PARAMETER_DESC','COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE' ]]
o3_2017_skinny = o3_2017[['Date', 'DAILY_AQI_VALUE','Site Name', 'AQS_PARAMETER_DESC','COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE' ]]
o3_2018_skinny = o3_2018[['Date', 'DAILY_AQI_VALUE','Site Name', 'AQS_PARAMETER_DESC','COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE' ]]

5. For the PM2.5 datasets, create a new column called `AQS_PARAMETER_DESC` filled with the value "PM2.5" (all cells in this column should be identical).

In [9]:
pm_2017_skinny['AQS_PARAMETER_DESC'] = "PM2.5"
pm_2018_skinny['AQS_PARAMETER_DESC'] = "PM2.5"

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

6. Save all four processed datasets in the Processed folder.

In [10]:
pm_2017_skinny.to_csv("../Data/Processed/pm_2017_skinny_Processed.csv",index=False)
pm_2018_skinny.to_csv("../Data/Processed/pm_2018_skinny_Processed.csv",index=False)
o3_2017_skinny.to_csv("../Data/Processed/o3_2017_skinny_Processed.csv",index=False)
o3_2018_skinny.to_csv("../Data/Processed/o3_2018_skinny_Processed.csv",index=False)

## Combine datasets
7. Merge (`concat`) the four datasets into one. Make sure your column names are identical prior to running this code.

In [20]:
#Concatenate the 4 data frames into one
allData = pd.concat((pm_2017,pm_2018,o3_2017,o3_2017),axis='rows')
allData.head()

,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,COUNTY,COUNTY_CODE,DAILY_AQI_VALUE,DAILY_OBS_COUNT,Daily Max 8-hour Ozone Concentration,Daily Mean PM2.5 Concentration,...,PERCENT_COMPLETE,POC,SITE_LATITUDE,SITE_LONGITUDE,STATE,STATE_CODE,Site ID,Site Name,Source,UNITS
0,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,Avery,11,12,1,NaN,2.9,...,100,1,35.972347,-81.933072,North Carolina,37,370110002,Linville Falls,AQS,ug/m3 LC
1,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,Avery,11,5,1,NaN,1.2,...,100,1,35.972347,-81.933072,North Carolina,37,370110002,Linville Falls,AQS,ug/m3 LC
2,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,Avery,11,13,1,NaN,3.2,...,100,1,35.972347,-81.933072,North Carolina,37,370110002,Linville Falls,AQS,ug/m3 LC
3,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,Avery,11,27,1,NaN,6.4,...,100,1,35.972347,-81.933072,North Carolina,37,370110002,Linville Falls,AQS,ug/m3 LC
4,88502,Acceptable PM2.5 AQI & Speciation Mass,NaN,NaN,Avery,11,15,1,NaN,3.6,...,100,1,35.972347,-81.933072,North Carolina,37,370110002,Linville Falls,AQS,ug/m3 LC

7a. What are the dimensions of the concatenated data frames?

In [21]:
#Report the shape of the dataframe
allData.shape

(37543, 21)

### Subsetting and splitting

#### 8. Wrangle your new dataset...
 1. Subset only records in Blackstone, Bryson City, Triple Oak 
    1. Create a Boolean mask for each site name (`query` won't work because "Site Name" has a space in it!)
    2. Apply these Boolean masks using the appropriate logical operators ("`&`", "`|`", "`~`") to select records in any of these sites into a new dataframe. 
    3. Make a "deep" copy of this dataframe (to avoid warnings about working on a subset of a dataframe...)
    4. Display the dimensions of the resulting dataframe

In [22]:
# Create 3 Boolean masks, one each for Blackstone, Bryson City, Triple Oak

blackstoneMask = allData['Site Name'] == 'Blackstone' 
brysonMask = allData['Site Name'] == 'Bryson City'
tripleMask = allData['Site Name'] == 'Triple Oak'

In [23]:
#Apply the mask to the dataframe
allDataSelect = allData[blackstoneMask|brysonMask|tripleMask]
allDataSelect.shape

(3057, 21)

In [24]:
#Create a deep copy of the above dataframe
allDataSelect = allData[blackstoneMask|brysonMask|tripleMask].copy(deep=True)

In [25]:
#Display the dimensions of the dataframe
allDataSelect.shape

(3057, 21)

2. Add columns for "Month" and "Year" by parsing your "Date" column (hint: see [`pd.DatetimeIndex`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html)...)

In [29]:
#C. Add columns for Month and Year
dtIndex = pd.DatetimeIndex(allDataSelect['Date'])
allDataSelect_dates = allDataSelect.copy(deep='True')
allDataSelect_dates['Y']=dtIndex.year
allDataSelect_dates['m']=dtIndex.month
allDataSelect_dates['d']=dtIndex.day

allDataSelect_dates.head()

,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,COUNTY,COUNTY_CODE,DAILY_AQI_VALUE,DAILY_OBS_COUNT,Daily Max 8-hour Ozone Concentration,Daily Mean PM2.5 Concentration,...,SITE_LONGITUDE,STATE,STATE_CODE,Site ID,Site Name,Source,UNITS,Y,m,d
4961,88502,Acceptable PM2.5 AQI & Speciation Mass,41820.0,"Sanford, NC",Lee,105,25,1,NaN,5.9,...,-79.2887,North Carolina,37,371050002,Blackstone,AQS,ug/m3 LC,2017,1,1
4962,88502,Acceptable PM2.5 AQI & Speciation Mass,41820.0,"Sanford, NC",Lee,105,7,1,NaN,1.7,...,-79.2887,North Carolina,37,371050002,Blackstone,AQS,ug/m3 LC,2017,1,2
4963,88502,Acceptable PM2.5 AQI & Speciation Mass,41820.0,"Sanford, NC",Lee,105,10,1,NaN,2.4,...,-79.2887,North Carolina,37,371050002,Blackstone,AQS,ug/m3 LC,2017,1,3
4964,88502,Acceptable PM2.5 AQI & Speciation Mass,41820.0,"Sanford, NC",Lee,105,14,1,NaN,3.3,...,-79.2887,North Carolina,37,371050002,Blackstone,AQS,ug/m3 LC,2017,1,4
4965,88502,Acceptable PM2.5 AQI & Speciation Mass,41820.0,"Sanford, NC",Lee,105,25,1,NaN,6.1,...,-79.2887,North Carolina,37,371050002,Blackstone,AQS,ug/m3 LC,2017,1,5

**9. Spread (`pivot_table`) your datasets** such that AQI values for ozone and PM2.5 are in separate columns. Each location on a specific date should now occupy only one row.

In [30]:
allPivot = allDataSelect_dates.pivot_table(columns='AQS_PARAMETER_DESC', values = 'DAILY_AQI_VALUE')

10. Call up the dimensions of your new tidy dataset.

In [31]:
allPivot.shape

(1, 3)

11. Save your processed dataset with the following file name: "EPAair_O3_PM25_NC1718_Processed.csv"

In [32]:
allPivot.to_csv("../Data/Processed/EPAair_O3_PM25_NC1718_Processed.csv",index=False)

## Generate summary tables
12. Use the split-apply-combine strategy to generate two new data frames: 
    1. A summary table of mean AQI values for O3 and PM2.5 by month
    2. A summary table of the mean, minimum, and maximum AQI values of O3 and PM2.5 for each site

In [36]:
#12a. A summary table of mean AQI values for O3 and PM2.5 by month
group = allPivot.groupby(['m','AQS_PARAMETER_DESC'])
aggData = group['DAILY_AQI_VALUE'].mean().reset_index()
aggData.pivot_table(index='m',columns='AQS_PARAMETER_DESC',values='DAILY_AQI_VALUE')

KeyError: 'm'

In [ ]:
#12b. A summary table of the mean, minimum, and maximum AQI values of O3 and PM2.5 for each site